<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Card page">
<h1>Card</h1>
<table>
<tbody>
<tr>
<td>${card.name}</td>
</tr>
<tr>
<td><img src="${card.pictureUrl}" alt="" width="167" height="200" /></td>
</tr>
<tr>
<td><#if card.isFree>FREE<#else>BUSY</#if></td>
</tr>
<tr>
<td>
<#list card.records>
    <ul>
    <#items as rec>
        <li>${rec.name}: from ${rec.start?datetime?string.short} on ${rec.duration?time?string.short}</li>
    </#items>
    </ul>
<#else>
No records.
</#list>
</td>
</tr>
</tbody>
</table>

</@layout.myLayout>