<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">


<h1>${i18n("hello.world")}</h1>
<p>${i18n("hello.world.json")}</p>
<a href="/hello_world.json">Hello World Json</a>
<p><a href="/card">Card link</a></p>

</@layout.myLayout>